<p id="notice"><%= notice %></p>

<br>

<h3> 
  <% user = User.find(@comment.user_id) %>
  <% if user = current_user.id %>
    You
  <% else %>
    <% user %>
  <% end %>

  commented on the post "<%= @comment.post.title %>" saying:
</h3>

<p>
 <%= @comment.content %>
</p>

<%= link_to 'Edit', edit_post_comment_path(@comment.post, @comment) %> |
<%= link_to 'Back', post_comments_path %>
