<h1>Posts</h1>

<% if current_user %>
  <button type="button" href="posts/new" class="btn btn-secondary">Create a Post</button>
  <br>
  <br class='smaller-break'>
<% end %>

<table>
  <% if @posts.any? %>
    <thead>
      <tr>
        <th>Title:</th>
        <th>Content:</th>
        <th>By:</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  <% end %>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.user.email %></td>
        <td><%= link_to 'Show', post %></td>
        <% if post.user_id = current_user.id || current_user.admin %>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
