
<p style="font-size:225%;">
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p style="font-size:120%;">
  <strong>By:</strong>
  <%= @post.user.email %>
</p>

<% unless @post.content.empty? %>
  <p>
    <strong>Content:</strong>
    <%= @post.content %>
  </p>
<% end %>

<% if @post.file.any?%> 
  <p><strong>Attachment:</strong></p>
  <% @post.file.each do |type| %>
    <% if type.image? %>
      <img src = "<%=url_for(type)%>" />
    <% elsif type.audio? %>
      <audio controls>
        <source src="<%=url_for(type)%>" type="audio/mpeg">
      </audio> 
    <% elsif type.video? %>
      <video width="320" height="240" controls>
        <source src=type type="video/mp4">
      </video> 
    <% end %>
    <br>
  <% end %>
<% end %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<td><%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %></td> |
<%= link_to 'Back', posts_path %>
