<% require 'pry'; binding.pry %>

<p id="notice"><%= notice %></p>

<h1>Home</h1>

<% user = params[:user_id] %>
<% user_obj = User.find(user) %>
<% if user_obj.home %>

  <table>
    <thead>
      <tr>
        <th>City</th>
        <th>User</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= home.city %></td>
        <td><%= home.user %></td>
        <td><%= link_to 'Show', user_home_path(user, @home) %></td>
        <td><%= link_to 'Edit', edit_user_home_path(user, @home) %></td>
        <td><%= link_to 'Destroy', edit_user_home_path(user, @home), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    </tbody>
  </table>

  <br>

<% end %>
<%= link_to 'New Home', new_user_home_path %>
