<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @home.city %>
</p>

<p>
  <strong>User:</strong>
  <%= @home.user %>
</p>

<p>
  <strong>Forecast:</strong>
  <%= @forecast %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @min_temp %> to <%= @max_temp %>
</p>

<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
