<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @home.city %>
</p>

<p>
  <strong>User:</strong>
  <%= @home.user %>
</p>

<p>
  <strong>Forecast:</strong>
  <%= @forecast %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @min_temp %> to <%= @max_temp %>
</p>

<%= link_to 'Change home', edit_user_home_path(User.find(@home.user_id), @home) %>
<% link = '/users/' + @home.user.id.to_s %>
<%= link_to 'Back', link %>

