<h1>PBC peeps:</h1>

<%if current_user %>

<table>
    <thead>
      <tr>
        <th>Email:</th>
        <th>Admin:</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users = User.all %>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.admin %></td>
          <td><%= link_to 'Show', user %></td>
          <td><%= link_to 'Home', user_home_path(user.id) %></td>
          <% friendship = Friendship.find_by(:user == current_user, :friend == user) %>
          <% if user == current_user %>
            <td><%= link_to 'Edit Your Account', edit_user_registration_path %></td>
          <% elsif not friendship %>
            <td><%= link_to 'Add Friend', friendships_path(:friend_id => user), :method => :post %></td>
          <% else %>
            <td><%= link_to "unfriend", friendship_url(friendship), :method => :delete %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
<% else %>
  <p>
    Please <%= link_to 'log in', new_user_session_path %> to view our members.
  </p>
<% end %>

</table>
