<h1>Profile of <%=@user.email%>:</h1>

<p>Friends:<p>

<ul>
    <% @user.friendships.each do |friendship| %>
        <li>
            <%= friendship.friend.email %>
            (<%= link_to "unfriend", friendship, :method => :delete %>)
        </li>
    <% end %>
</ul>

<p>
<%= link_to 'Back', '/users/' %>|
<td><%= link_to 'View Home', user_home_path(@user.id) %></td>|
<% if @user == current_user %>
    <td><%= link_to 'Edit Your Account', edit_user_registration_path %></td>
<% end %>
</p>