<h1>Profile of <%=@user.email%>:</h1>

<p> Admin:
<%= @user.admin %>
</p>

<p>Friends:<p>

<ul>
    <% @user.friendships.each do |friendship| %>
        <li>
            <%= friendship.friend.email %>
            (<%= link_to "unfriend", friendship, :method => :delete %>)
        </li>
    <% end %>
</ul>

<p>
<%= link_to 'Back', '/users/' %>|
<% link = '/users/' + @user.id.to_s + '/home/' %>
<td><%= link_to 'View Home', link %></td>|
<% if @user == current_user %>
    <td><%= link_to 'Edit Your Account', edit_user_registration_path %></td>
    <%if @user.admin and User.all.where(:admin => true)[1]%>
        <%= link_to "Demote yourself to member", change_user_status_path(@user, 'false'), :confirm=>'Are you sure?' %>
    <% end %>
<% else %>
    <%if current_user.admin and not @user.admin %>
        <%= link_to "Make user an admin", change_user_status_path(@user, 'true'), :confirm=>'Are you sure?' %>
    <% end %>
    <%unless Friendship.find_by(:user_id == current_user.id, :friend_id == @user.id) %>
        <%= link_to 'Add Friend', friendships_path(:friend_id => @user), :method => :post %>
    <% end %>
<% end %>

</p>